{% extends "base.html" %}

{% block navigation %}
    <nav class="navigation">
        <a class="btn btn-secondary" role="button" href="{% url 'delivery:home' %}"
        style="font-size: 30px; padding: 10px;"
        >Do głównej</a> 
    </nav>
{% endblock %}

{% block content %}
<a class="btn btn-outline-secondary d-flex align-items-center justify-content-center" 
    role="button" href="{% url 'delivery:delivery_create' %}?reception=first"
    style="font-size: 40px; padding: 10px;">Supplier </a> 
<br>
<a class="btn btn-outline-secondary d-flex align-items-center justify-content-center" 
role="button" href=""
style="font-size: 40px; padding: 10px;">UNComplite</a>
<br>
<br>
{% endblock %}