{% extends 'base.html' %}
{% load crispy_forms_filters %}


{% block navigation %}
    <nav class="navigation">
        <a class="btn btn-secondary" role="button" href="{% url 'delivery:home' %}">Do głównej</a>
        <a class="btn btn-outline-secondary" role="button" href="{% url 'delivery:delivery_create' %}?nr_order={{ order.nr_order }}">Wróć</a>
        
    </nav>
{% endblock %}



{% block content %}
<form method="post" action="{% url 'delivery:delivery_create' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input-group mb-3" type="number">
        <span class="input-group-text" style="width: 25%;">Dostawca: </span>
        <input type="text" style="width: 75%;" name="supplier_company" id="supplier_company_search" autocomplete="off" oninput="searchSupplier()">
        <div id="supplier_suggestions" onclick="selectSupplier(event)">
        </div>
    <input type="hidden" name="selected_supplier_id" id="selected_supplier_id">
    </div>
    
    
    <div class="input-group mb-3" type="number">
        <span class="input-group-text" style="width: 25%;">Zamówienie: </span>
        <input type="number" style="width: 75%;" name="nr_order" required>
    </div>

    <div class="input-group mb-3" type="number">
        <span class="input-group-text" style="width: 25%;">Sklep: </span>
        <input type="number" style="width: 75%;" name="shop" required>
    </div>

    <div class="input-group mb-3" type="number">
        <span class="input-group-text" style="width: 25%;" >SSCC: </span>
        <input type="text" style="width: 75%;" name="ssc_barcode" maxlength="20" required>
    </div>
    

    <div class="mb-3" id="imag-fields">
        <input name="images_url_0" class="form-control" type="file" id="formFileMultiple">
        <button type="button" onclick="addImageField()" style="width: 100%;">+</button>
    </div>

    <input type="text" class="form-control" placeholder="Dodaj komentarz" required>


    <br>
    <br>
    <input class="btn btn-secondary" type="submit" value="Submit" style="width: 100%;"> 
</form>




<script>
    function searchSupplier() {
        const input = document.getElementById('supplier_company_search').value;
        const suggestionsDiv = document.getElementById('supplier_suggestions');
    
        // Dummy suppliers data for testing
        const suppliers = {{ suppliers|safe }};
    
        // Filter suppliers based on user input
        const filteredSuppliers = suppliers.filter(supplier => supplier.name.toLowerCase().includes(input.toLowerCase()));
    
        // Generate HTML for suggestions
        const suggestionsHTML = filteredSuppliers.map(supplier => `<div data-id="${supplier.id}">${supplier.name}</div>`).join('');
    
        // Update the suggestionsDiv with the generated HTML
        suggestionsDiv.innerHTML = suggestionsHTML;
    }
    
    function selectSupplier(event) {
        const selectedSupplierId = event.target.getAttribute('data-id');
        const selectedSupplierInput = document.getElementById('selected_supplier_id');
        const supplierSearchInput = document.getElementById('supplier_company_search');
    
        if (selectedSupplierId) {
            selectedSupplierInput.value = selectedSupplierId;
            supplierSearchInput.value = event.target.innerText;
            document.getElementById('supplier_suggestions').innerHTML = '';  // Clear suggestions
        }
    }


    function addImageField(){
        const imageFieldContainer = document.getElementById('imag-fields');
        const fieldCount = imageFieldContainer.childElementCount;
        
        const newImageField = document.createElement('div');
        newImageField.className = 'mb-3';



        const fileInput = document.createElement('input');
        fileInput.type = 'file';
        fileInput.className = "form-control";
        fileInput.name = `img_${fieldCount}`;
        fileInput.style.width = '100%';
        fileInput.style.marginTop = "15px";

        // Insert the new container before the button
        imageFieldContainer.insertBefore(newImageField, imageFieldContainer.lastElementChild);

        // Append new inputs to the container
        newImageField.appendChild(fileInput);

    }



    </script>

    
{% endblock %}