{% extends 'pc_base.html' %}
{% load crispy_forms_filters %}

{% block navigation %}
    <nav class="navigation">
        <a class="btn btn-secondary" style="margin-left: 30px;" role="button" href="{% url 'delivery:home' %}">Do głównej</a>
        <a class="btn btn-outline-secondary" role="button" href="{% url 'delivery:delivery_storage' %}">Wróć</a>
        
    </nav>
{% endblock %}

{% block content %}
<div class="container" style="width: 90%;">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Data Przyjęcia</th>
                            <th>Recepcija</th>
                            <th>Obecna lokalizacja  </th>  
                            <th>Dostawca</th>
                            <th>Zamówienie</th>
                            <th>Powód<th>
                        </tr>   
                    </thead>
                    <tbody>
                        {% for delivery in delivery_list %}
                        <tr>
                            <td><a style="text-decoration:none" 
                                class="link-dark " 
                                href="{% url 'delivery:delivery_detail' pk=delivery.id %}">
                                {{ delivery.identifier }}
                            </a></td>
                            <td>{{ delivery.date_recive|date:"d-m-Y H:i" }}</td>
                            <td>{{ delivery.recive_location }}</td>
                            <td>{{ delivery.location }}</td>
                            <td>{{ delivery.supplier_company.name }}</td>     
                            <td>{{ delivery.nr_order }}</td>
                            <td>{{ delivery.return_reasone_or_comment }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
           
        </div>
    </div>
</div>
{% endblock %}
