{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block navigation %}
    <nav class="navigation">
        <a class="btn btn-secondary" role="button" href="{% url 'delivery:home' %}">Do głównej</a>
        <a class="btn btn-outline-secondary" role="button" href="{% url 'delivery:select_receprion' %}">Wróć</a>
        
    </nav>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'delivery:first_rec_del_create' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input-group mb-3" type="number">
        <span class="input-group-text" style="width: 35%;">Dostawca: </span>
        <input type="text" style="width: 65%;" name="supplier_company" id="supplier_company_search" autocomplete="off" oninput="searchSupplier()">
        <div id="supplier_suggestions" onclick="selectSupplier(event)">
        </div>
    <input type="hidden" name="selected_supplier_id" id="selected_supplier_id" required>
    </div>

    <div class="input-group mb-3" type="number">
        <span class="input-group-text" style="width: 35%;">Zamówienie: </span>
        <input type="number" style="width: 65%;" name="order_nr" min="10000000" max="99999999">
    </div>

    <div class="input-group mb-3" type="number">
        <span class="input-group-text" style="width: 35%;">Sklep: </span>
        <input type="number" style="width: 65%;" name="shop" min="1" max="84">
    </div>

    <div class="input-group mb-3" type="number">
        <span class="input-group-text" style="width: 35%;" >SSCC/ASN: </span>
        <input type="text" style="width: 65%;" name="sscc_barcode" maxlength="40", required>
    </div>

    <div class="input-group mb-3" type="number">
        <select id="tape_of_delivery" name="tape_of_delivery" class="form-select" required>
            <option  disabled selected value="" >Sposób dostawy</option>
            <option value="pacz.">Paczka</option>
            <option value="pall.">Paleta</option>
        </select> 
    </div>
        <div class="input-group mb-3" type="number">
            <span class="input-group-text" style="width: 35%;" >QTY: </span>
            <input type="number" style="width: 65%;" name="qty_unit" required>
        </div>



    {% if request.user.is_superuser or request.user.role == 'admin' or request.user.role == 'leader' %}
    <div class="input-group mb-3" type="number", >
        <span class="input-group-text" id="inputGroup-sizing-default">Data: </span>
        <input name="date_recive", id="work_day" type="date" class="form-control" aria-describedby="inputGroup-sizing-default" value="{{data_today}}">
        
    </div>
    {% endif %}
    
    <div class="input-group mb-3" type="number", >
        <select name="reasones" class="form-select" required>
            <option  disabled selected value="" >Wybierz powód</option>
            {% for reasone in reasones %}
                <option value="{{ reasone.name }}">{{ reasone.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-group mb-3" type="number", >
        <input name="extra_comment" type="text" class="form-control" placeholder="Co dalej stało się z produktem?">
    </div>

        <input type="hidden" name="recive_location" id="recive_location" value={{ reception }} required>
        <input class="btn btn-secondary" type="submit" value="Submit" style="width: 100%;"> 
</form>

{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}
    
{% endblock %}