{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block navigation %}
    <a class="btn btn-secondary" role="button" href="{% url 'delivery:home' %}">Do głównej</a>
    <a class="btn btn-outline-secondary" role="button" href="{% url 'delivery:delivery_storage' %}">Wróć</a>

    <form action="{% url 'delivery:generaport' %}" method="post" target="_blank" style="display: inline; float: right;">
        {% csrf_token %}
        <input type="hidden" name="delivery_number" value="{{ delivery.id }}" id="delivery_id">
        <button type="submit" class="btn btn-outline-secondary">Protokół</button>
    </form>
    {% if not delivery.office_chek %}
    <form action="{% url 'delivery:delivery_detail' pk=delivery.id %}" method="post"  style="display: inline;">
        {% csrf_token %}
        <input type="hidden", name="reverse_check_status", value="{{ delivery.id }}" , id="reverse_check_status">
        <button type="submit" class="btn btn-outline-secondary">
        {% if delivery.office_chek %}
            YES
        {% else %}
            NO
        {% endif %}</button>
    </form>
    
    <form action="{% url 'delivery:delivery_detail' pk=delivery.id %}" method="post"  style="display: inline;">
        {% csrf_token %}
        <input type="hidden", name="utilization", value="{{ delivery.id }}" , id="utilization">
        <button type="submit" class="btn btn-outline-secondary"> Utylizacja</button>
    </form>

    <form action="{% url 'delivery:delivery_detail' pk=delivery.id %}" method="post"  style="display: inline;">
        {% csrf_token %}
        <input type="hidden", name="shiped", value="{{ delivery.id }}" , id="utilization">
        <button type="submit" class="btn btn-outline-secondary">Wysłać</button>
    </form>
    {% endif %}

{% endblock %}

{% block content %}

<form method="post" action="">
    {% csrf_token %}
    
    <!-- Supplier Company -->
    <p class="alert alert-dark">Supplier Company: {{ delivery.supplier_company }}</p>
    <p class="alert alert-dark">Numer zamówienia: {{ delivery.nr_order }}</p>
    <p class="alert alert-dark">SSCC: {{ delivery.sscc_barcode }}</p>
    <p class="alert alert-dark">Data otrzymania: {{ date_recive }}</p>
    <p class="alert alert-dark">Uzytkownik ktory przyjal towar: {{ delivery.user }}</p>
    {% comment %} <p class="alert alert-dark">Uzytkownik ktory wykonal ostatni ruch: {{}}</p> {% endcomment %}
    <p class="alert alert-dark">Komentarz: {{ delivery.comment }}</p>
    <p class="alert alert-dark">Lokalizacja przyjęciowa: {{ delivery.recive_location }}</p>
    <p class="alert alert-dark">Obecna lokalizacja: {{ delivery.location }}</p>
    <p class="alert alert-dark">Sklep: {{ delivery.shop }}</p>
    <p class="alert alert-dark">Identyfikator: {{ delivery.identifier }}</p>
    <p class="alert alert-dark">Transaction: {{ delivery.transaction | linebreaksbr}}</p>


    {% for image_path in image_urls %}
        <img src="{{ image_path }}" alt="Nie mam obrazów" style="width: 100%;">
        <p>{{image.image_data}}</p>
        <!-- Populate options from database if needed -->
    {% endfor %}
   
    {% comment %} <input type="submit" value="Submit"> {% endcomment %}
</form>
{% endblock %}
