{% extends "base.html" %}

{% block navigation %}
    <nav  class="navigation">
     <a class="btn btn-secondary" role="button" href="{% url 'delivery:home' %}">Home</a>
    </nav>
{% endblock %}

{% block content %}
   <form method="post" action="{% url 'delivery:ready_to_ship' %}">
     {% csrf_token %}
    <div class="input-group mb-3" type="number">
    <span class="input-group-text" id="inputGroup-sizing-default">Start Data: </span>
    <input name="start_day", id="start_day" type="date" class="form-control" aria-describedby="inputGroup-sizing-default">
    </div>
    
    <div class="input-group mb-3" type="number">
    <span class="input-group-text" id="inputGroup-sizing-default">Finish Data: </span>
    <input name="finish_day", id="finish_day" type="date" class="form-control" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <select name="recive_loc" class="form-select">
            <option  disabled selected value="" > Wybierz Recepcja</option>
            <option value="1R">Rec 1</option>
            <option value="2R">Rec 2</option>
        </select>
    </div>
    
    <button type="submit" class="btn btn-secondary">Generowac</button>
    
   </form>
{% endblock %}