{% extends "base.html" %}

{% block title %}{% endblock %}
{% block navigation %}
    <nav class="navigation">
        <a class="btn btn-secondary" role="button" href="{% url 'delivery:home' %}">Do głównej</a>
    </nav>
{% endblock %}
{% block content %}

<a class="btn btn-outline-secondary d-flex align-items-center justify-content-center" 
   role="button" href="{% url 'delivery:sum_of_goods' %}" 
   style="font-size: 30px; padding: 10px;">Raport zbiorczy</a>
<br>

<a class="btn btn-outline-secondary d-flex align-items-center justify-content-center" 
   role="button" href="{% url 'delivery:type_of_irregularity' %}" 
   style="font-size: 30px; padding: 10px;">Rodzaj nieprawidłowości</a>
<br>

<a class="btn btn-outline-secondary d-flex align-items-center justify-content-center" 
   role="button" href="{% url 'delivery:total_transaction' %}"
   style="font-size: 30px; padding: 10px;">Total Transaction</a>
<br>

<a class="btn btn-outline-secondary d-flex align-items-center justify-content-center" 
   role="button" href="{% url 'delivery:ready_to_ship' %}" 
   style="font-size: 30px; padding: 10px;">Gotowy do wysyłki</a>
<br>
{% endblock %}