{% extends "base.html" %}

{% block navigation %}
    <nav class="navigation">
        <a class="btn btn-secondary" role="button" href="{% url 'delivery:home' %}">Do głównej</a>
   
    </nav>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'delivery:delivery_storage' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="input-group mb-3">
        <select name="status" class="form-select">
            <option  disabled selected value="" >Wybierz Status</option>
            <option value=1>Przyjęty</option>
            <option value=2>Magazynowane</option>
            <option value=3>Wysłano</option>
        </select>
        </div>

        <div class="input-group mb-3" type="number">
            <input type="number" name="identifier" style="width: 100%;" placeholder="Identyfikator">
        </div>

        <div class="input-group mb-3" type="number">
            <input type="number" name="nr_order" style="width: 100%;" placeholder="Zamówienie">
        </div>

        <div class="input-group mb-3" type="number">
            <input type="text" name="sscc_barcode" style="width: 100%;" placeholder="SSCC">
        </div>

        <div class="input-group mb-3" type="number">
            <span class="input-group-text" id="inputGroup-sizing-default">Data: </span>
            <input type="date" name="date_recive" class="form-control" aria-describedby="inputGroup-sizing-default">
        </div>
        
        <div class="input-group mb-3" type="number">
            <input type="number" name="shop" style="width: 100%;" placeholder="Sklep">
        </div>

        <div class="input-group mb-3" type="number">
            <input type="text" name="location" style="width: 100%;" placeholder="Lokalizacja">
        </div>

        <div class="input-group mb-3">
        <select name="recive_loc" class="form-select">
            <option  disabled selected value="" > Wybierz Recepcija</option>
            <option value="1R">Rec 1</option>
            <option value="2R">Rec 2</option>
        </select>
        </div>
        
        <div class="input-group mb-3">
        <select name="office_chek" class="form-select">
            <option  disabled selected value="" >Sprawdzone ?</option>
            <option value=0>Nie Sprawdzone przez pracownika biura</option>
            <option value=1>Sprawdzone przez pracownika biura</option>
        </select>
        </div>

        <input class="btn btn-secondary" type="submit" value="Submit" style="width: 100%;"> 
    </form>
{% endblock %}